/* Quitamos márgenes por defecto */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* Header arriba, centrado */
header {
  text-align: center;
  padding: 10px;
  background: #222;
  color: white;
}


main {
  padding: 15px;
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
 
}


.galeria {

  box-shadow: 0px 5px 20px 0px rgba(87,86,87,0.54);
  background-color: white;
  padding: 3%;
  border-radius: 1rem;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 imágenes por fila */
  gap: 8px;
  max-width: 900px;
  height: 1;
  width: 100%;
}


.galeria img {
  width: 85%;
  height: 200px;
  border-radius: 8px;
}
